html {
    font-size: 62.5%;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
  }
  
  img {
    display: block;
    max-width: 100%;
  }

  .container {
    width: 96rem;
    margin: 0 auto;
  }

  .clearfix:after{
    clear: both;
    content: ".";
    display: block;
    width: 0px;
    height: 0px;
}

  @mixin text($size,$color,$weight:400) {
      font-size: $size;
      color: $color;
      font-weight: $weight;
  }
  .banner {
      margin-bottom: 4.2rem;
      &__header {
          height: 2.5rem;
          background-color: #ffb8b8;
          padding: 0.2rem 7rem 0;
          @include text(1.2rem, rgb(89, 90, 92));
          line-height: 1.33;
          z-index: 1;
      }
      &__images {
          background: url('images/header/main.png') no-repeat ;
          background-size: 100% 100%;
          height: 27.27vw;
      }
  }

  .main {
    font-family: "Kozuka Gothic Pr6N", sans-serif;
      &__content {
          float: left;
          width: 68rem;
          margin-right: 3rem;
          &-header {
              background-color: #efefef;
              border-radius: 0 0 1rem 1rem;
              margin-bottom: 3rem;
              &-title {
                  position: relative;
                  & img {
                      position: absolute;
                      bottom: 0;
                      left: 0.7rem;
                  }
                  & h2 {
                    font-family: "Kozuka Gothic Pr6N", sans-serif;
                    @include text(2.4rem, rgb(255, 255, 255), );
                    text-shadow: 0px 0px 5px rgba(157, 84, 30, 0.75);
                    line-height: 2.083;
                    background-color: #ff8226;
                    padding-left: 11.7rem;
                    border-top: solid 1px #ff852c;
                    border-radius: 1rem 1rem 0 0;
                  }
              }
              &-description {
                  padding: 1.4rem;
                  & p {
                      padding: 2rem 2.5rem;
                      background-color: white;
                      @include text(1.4rem , rgb(102, 102, 102), );
                      line-height: 1.714;
                      border-radius: 0.5rem;
                      box-shadow:1px 1px 3px #d9d9d9;
                  }
              }
          }
          &-list {
            background-color: #ffc4c4;
            border-radius: 1rem;
            margin-bottom: 2.8rem;
            &-inner {
                padding: 1.3rem 1.5rem;
            }
            &-title {
                position: relative;
                padding-left: 8.9rem;
                background-color: #fb5e61;
                border: 1px solid #ff6767;
                border-radius: 1rem 1rem 0 0;
                border-bottom: none;
                & img {
                    position: absolute;
                    bottom: 0;
                    left: 0.7rem;
                }
                & div {
                    clear: both;
                    content: ".";
                    display: block;
                    padding: 0.6rem 0;
                    position: relative;
                    & h4 {
                        float: left;
                        @include text(2rem, white, bold);
                        line-height: 1.25;
                        padding: 0 2.4rem;
                        background-color: #56a11a;
                        border-radius: 2rem;
                    }
                    & .span-contain {
                        float: left;
                        position: absolute;
                        left: 14rem;
                        bottom: 0.6rem;

                    }

                    & span {
                        float: left;
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        background-color: white;
                        box-shadow: 0px 0px 5px 0px rgba(172, 74, 76, 0.75);
                        margin-right: 1.8rem; 
                    }
                    

                   
                }

                & h2 {
                    // display: block;
                    @include text(3rem,white , bold);
                    text-shadow: 0px 0px 5px rgba(157, 84, 30, 0.75);
                }
            }
          }
          &-item {
              background-color: #ffc4c4;
              position: relative;
                margin-bottom: 1.5rem;
              
              &-header {
                    & img {
                    position: absolute;
                    top: 0;
                    left: 0.9rem;
                    }
                  margin-bottom: 0.1rem;
                  & h2 {
                      @include text(2.4rem,rgb(250, 90, 92), );
                      line-height: 3;
                      padding-left: 8.7rem;
                      background-color: #fffeca;
                      border-radius: 1rem 1rem 0 0;
                  }
              }

              &-info {
                  background-color: white;
                  padding: 1.9rem 2.2rem;
                  position: relative;
                  & img {
                      float: left;
                      padding-right: 2.2rem;
                  }

                  &-more {
                      margin-bottom: 4rem;
                      & p {
                          @include text(1.4rem, rgb(102, 102, 102), );
                          line-height: 1.714;
                      }

                      & p:nth-child(6) {
                          padding-bottom: 1.8rem;
                      }

                      & button {
                          background-color: #5699fc;
                          @include text(1.6rem, white,bold );
                          text-shadow: 0px 0px 5px rgba(105, 105, 105, 0.75);
                            border: none;
                            border-radius: 0.5rem;
                            width: 37rem;
                            height: 3.5rem;
                            & i {
                                padding-right: 1rem;
                            }
                      }
                  }
              }
              &-table {
                  width: 60rem;
                  padding: 2.5rem;
                  border-collapse: collapse;
                  & tr,td {
                      border: solid 1px #cccccc;
                  }
                  & tr {
                      & td {
                        @include text(1.4rem,rgb(51, 51, 51) , );
                        padding-left: 1.7rem;
                      }
                      & td:first-child{
                          background-color: #ececec;
                          width: 19.5rem;
                          padding-left: 0;
                          line-height: 2.785;
                          text-align: center;
                      }
                  }
                  & tr:nth-child(2){
                      & td:nth-child(2){
                          color: #ff3d3f;
                          font-weight: bold;
                      }
                  }
              }

          }

          &-item:last-child {
             margin-bottom: 0;
          }
          &-description {
              background-color: #efefef;
              border-radius: 1rem;
              padding: 1.4rem;
              margin-bottom: 4.6rem;
              &-inner {
                padding: 1rem 2.5rem;
                background-color: white;
                  & p {
                    @include text(1.4rem, rgb(102, 102, 102), );
                    line-height: 1.714;
                  }
              }
          }
      }
      
      &__sidebar {
          width: 25rem;
          float: left;
          &-item {
              padding: 0.5rem;
              box-shadow: 1px 1px 5px #e6e6e6;
              border-radius: 1rem;
              margin-bottom: 1.7rem;
              &-header {
                  position: relative;
                  & img {
                    position: absolute;
                    left: 0.8rem;
                    top: 0.6rem;
                  }
                  & h2 {
                      @include text(1.6rem,white , );
                      line-height: 2.8125;
                      background-color: #fb5c5f;
                      border-radius: 1rem 1rem 0 0;
                      padding-left: 5rem;
                  }
              }
              &-body {
                  background-color: #f6f6f6;
                  & li {
                      @include text(1.4rem,rgb(41, 149, 225) , );
                      line-height: 2.928;
                      border-bottom: solid 1px #e4e4e4;
                      & i {
                          padding: 0 0.7rem 0 1rem;
                          color: #fd7f9a;
                      }
                      & a {
                          text-decoration: none;
                      }
                  }
                  & li:nth-child(5) {
                      border-bottom: none;
                      padding-bottom: 0.6rem;
                  }
              }
          }
      }
  }

  footer {
    @include text(1.4rem,white , );
    line-height: 6.2857;
    background-color: #fd7393;
    text-align: center;
    padding-bottom: 0.7rem;
  }


  
  
  
  


  

  
  